body {
  background-color: rgb(2, 183, 255); /*Pode escolher outra cor se quiser*/
}

h1 {
  color: rgb(0, 0, 0); /*Pode escolher outra cor se quiser*/
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

/* Efeito de "açaí caindo" */

.acai-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.acai-container::before {
  content: "🫐 🫐 🫐 🫐 🫐 🫐 🫐 🫐 🫐 🫐";
  position: absolute;
  top: -50px;
  width: 100%;
  font-size: 30px;
  animation: cair 5s linear infinite;
}

@keyframes cair {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100vh);
  }
}